---
layout: page
title: "Searching"
description: "</br><b>Mediocrity knows nothing higher than itself; but talent instantly recognizes genius.</br></br>------Arthur Conan Doyle, The Valley of Fear<b>"
header-img: "img/searching.jpg"
multilingual: true
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> Study/Relax S </option>
    <option value="1"> Study/Relax R </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture searching_zh %}{% include searching/study.md %}{% endcapture %}
    {{ searching_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture searching_en %}{% include searching/relax.md %}{% endcapture %}
    {{ searching_en | markdownify }}
</div>


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread"></div>
</div>
<!-- disqus 评论框 end -->
{% endif %}

